html, body {
	height: 100%;
	overflow: hidden;
}

body {
	font-family: Helvetica;
	font-size: 15pt;
	background-color: #DCF0F7;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
}

h1 {
	margin: 0px;
	font-size: 40pt;
	text-align: center;
}

div#container {
	background-color: #FFFFFF;
	overflow-y: scroll;
	width: 100%;
	-webkit-box-flex:1;
}

div#titleBar {
	background-color: #EEEEEE;
	text-align: center;
}
input#checkAll {
	float: left;
	margin-top: 7px;
}

button#trash {
	float: right;
	background-color: transparent;
	border: none;
}

div.task {
	border-bottom: 1px solid #C0C0C0;
}

div.task:hover .delete{
	display: block;
}

label.strike {
	text-decoration: line-through;
}

label.normal {
	text-decoration: none;
}

button {
	background-color: #FFFFFF;
	border: 1px solid #000000;
}

#addButton {
	margin-top: 10px;
	height: auto;
	background-color: #eeeeee;
	border: 1px solid #ffffff;
	height: auto;
	width: 100%;
	font-size:15pt;
	margin-bottom: 20px;
}

#newTask {
	margin-top: 10px;
	height: auto;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #DCF0F7;
	font-family: Helvetica;
	font-weight:bold;
	font-size:18pt;
}

