body {
	font-family: Helvetica;
	font-size: 15pt;
	background-color: #DCF0F7;
}

h1 {
	font-size: 40pt;
	text-align: center;
	margin-bottom: 0px;
}

div#big {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

div#container {
	height: 200px;
	background-color: #FFFFFF;
	overflow-y: scroll;
	width: 100%;
}

div#titleBar {
	background-color: #EEEEEE;
	text-align: center;
}
input#checkAll {
	float: left;
	margin-top: 7px;
}

button#trash {
	float: right;
	background-color: transparent;
	border: none;
}

div.task {
	border-bottom: 1px solid #C0C0C0;
}

div.task:hover .delete{
	display: block;
}

label.strike {
	text-decoration: line-through;
}

label.normal {
	text-decoration: none;
}

form {
	margin-top: 10px;
	text-align: center;
}

button {
	background-color: #FFFFFF;
	border: 1px solid #000000;
}

#addButton {
	background-color: #eeeeee;
	border: 1px solid #ffffff;
	padding-bottom:5px;
	height:30px;
	width: 300px;
	font-size:15pt;
}

#newTask {
	height: 30px;
	width: 300px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	border: 1px solid #DCF0F7;
	font-family: Helvetica;
	font-weight:bold;
	font-size:18pt;
}

